<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/general.css">
    <link rel="stylesheet" href="/public/busqueda.css">
    <title>Resultados de busqueda</title>
</head>
<body>
  
    <div>
        <form action="/buscaralumnosp" method="post">
            <input type="text" name="nombre" placeholder="Nombre del alumno">
            <button type="submit">Buscar</button>
          </form>
    </div>

    <div>
      <button type="button"><a href="/inicioprofes">Volver a inicio</a></button>
      <button type="button"><a href="/usuarios">Administrar alumnos</a></button>
    </div>

    <div class="cuerpo">
        <h1>Resultados de búsqueda</h1>
        <%rows.forEach(tblalumnos =>{%>
          <div class="card">
              <figure>
                <figure>
                    <% if (tblalumnos.foto) { %>
                      <img src="/public/imagenes/<%= tblalumnos.foto %>" alt="" height="150" width="150">
                    <% } else { %>
                      <img src="/public/imagenes/usuario.png" alt="Imagen por defecto" height="150" width="150">
                    <% } %>
                  </figure>
              </figure>
              <div class="contenido">
                  <h3><%=tblalumnos.nombre%></h3>
                  <p>No. de control: <%=tblalumnos.nocontrol%></p>
                  <p>Semestre: <%=tblalumnos.semestre%></p>
                  <p>Contacto: <%=tblalumnos.correo%></p>
                  <p><%=tblalumnos.descripcion%></p>
              </div>
            </div>
    </div>
    <%})%>
</body>
</html>